@model Activity3Part1.Models.CustomerModel

@{
    ViewBag.Title = "Customer Details";
}
@Scripts.Render("~/Scripts/jquery-3.4.1.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<title>@ViewBag.Title</title>

@Html.DisplayFor(model => model.Name)
@Html.DisplayFor(model => model.Age)

